
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #264653;
  margin-top: 40px;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 32px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  background: #14B8A6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #3B82F6;
}

p {
  padding: 1rem;
  text-align: center;
}
